
.app {
    margin: 0;
  display: flex;
  height: 100vh;
  background-color: black;
}

.sidebar {
  width: 250px;
  background: #222222;
  padding: 10px;
}

.editor {
  flex: 1;
  padding: 20px;
}

#editorArea {
  min-height: 400px;
  background-color: #222222;
  border: 1px solid #2a6c9e3e;
  padding: 10px;
}